<div class="container">
  <div class="row">
    <h3 class="my-5 bg-light">フォロー一覧</h3>
  </div>
  <% if @users.exists? %>
    <%= render 'public/users/index',users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>