<div class="container">
  <div class="row">
    <h3 class="heading text-center col-11 col-md-10 col-xl-8">
      <div class="text_omit"><%= @user.name %>さんの</div>フォロー一覧
    </h3>
  </div>
  <!-- フォロー一覧 -->
  <div class="flame container text-center mt-5 mb-5">
    <% if @users.exists? %>
      <%= render 'public/users/index',users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>