<h3 class="text-center">通知</h3>
<%= link_to notification_path(@notifications), method: :delete, "data-confirm" => "本当に全通知削除しますか？" do %>
    <i class="fas fa-trash"></i>全通知削除
<% end %>
<% if @notifications.exists? %>
    <div class="notification-index">
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>